.search-bar-container {
  max-width: 78rem;
  padding: 2rem 1rem;
  margin: 1rem auto;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "HomeButton SearchField";
  align-items: center;
  row-gap: 1.5rem;
  column-gap: 2rem;
  border-bottom: 1px solid #24293f;

  @media (max-width: 56.25rem) {
    grid-template-columns: 1fr auto;
    grid-template-areas: "HomeButton SearchField";
  }

  @media (max-width: 42.5rem) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "HomeButton"
      "SearchField";
  }
  @media (max-width: 31.25rem) {
    margin: 3.5rem 0 3rem;
    padding-bottom: 1.5rem;
  }
}
